<!-- The structure of the home page is heavily inspired from the one for
fosdem (2014)

We start with a banner (jumbotron in bootstrap slang) that advertise
the stuff that's important right now. Then a word of presentation and the main
menu. Finally, we show a link and snippet to the latest news. -->

<!-- ~~~ JUMBOTRON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
The jumbotron is a big banner that we can use to advertise what's important
right now. for instance, the CFP and registration -->

<div class="jumbotron">
  <div class="container">
    <h2>FSCONS 2013 is over</h2>
    <p>Thanks to everyone and see you in 2014!</p>
  </div>
</div>

<!-- ~~~ LEAD TEXT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Short word about fscons. -->
<div class="row">
  <div class="col-md-8 col-sm-8">
    <p class="lead">
      FSCONS is the largest gathering for free culture, free software and a
      free society in the Nordic countries. <a href="about.html">Read more
      about the conference</a>.
    </p>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-6">
    <h4><a href="sponsors.html">Sponsors &amp; Partners</a></h4>
    <p class="text-center">
      <img style="width:80%" src="images/southpole.png" alt="South Pole logo" class="img-rounded"/>
      <img style="width:80%" src="images/friprogramvarusyndikatet.png" alt="Friprogramvarusyndikatet"/>
      <img style="width:70%" src="images/gu-mlt.296x100.png" alt="CTL"/>
      <img style="width:50%" src="images/ggs-small.png" alt="ggs-data"/>
      <img style="width:32%" src="images/linux_magazine.png" alt="Linux magazine logo"/>
      <img style="width:32%" src="images/adminmag.png" alt="Admin magazine logo">
      <img style="width:32%" src="images/ljlogo.jpg" alt="Linux Journal logo"/>
    </p>
  </div>
</div>
<br/>

<!-- ~~~ MAIN MENU ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
links to important parts of the site -->
<ul id="main-navigation" class="listview">
  <li><a href="about.html"        data-icon="images/ic_information.png">About</a></li>
  <li><a href="schedule"          data-icon="images/ic_schedule.png">Schedule</a></li>
  <li><a href="practical_info/practical_info.html" data-icon="images/ic_info_i.png">Practical information</a></li>
  <li><a href="cfp.html"              data-icon="images/ic_cfp.png">Call for participation </a></li>
  <li><a href="get-involved.html" data-icon="images/ic_help.png">Volunteer at FSCONS</a></li>
  <li><a href="$baseurl$/manifesto.html"       data-icon="images/ic_manifesto.png">Manifesto</a> </li>
  <li><a href="sponsors.html"     data-icon="images/ic_sponsors.png">Sponsors and partners</a></li>
</ul>

<!-- ~~~ NEWS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Show a preview of the most recent news -->
<section id="news">
  <h1>News</h1>
  <div class="row">
    $for(posts)$
    <div class="col-sm-6 col-md-3">
        <small>$date$</small>
        <h4><a href="$url$">$title$</a></h4>
      <!-- p>{{ post.content | strip_html | truncatewords:10}}</p-->
      <p class="text-right"><a href="$url$">Read more...</a>
    </div>
    $endfor$
  </div>
</section>
