 <div class="row">
    <div class="col-md-12">
      <img src="$baseurl$/images/banner2.png" width="100%" alt="Banner that says: FSCONS XII, box of Arduinos, and dev action">
    </div>
  </div>

<div class="row">
  <div class="col-md-8">

<h3>We are sorry to inform that FSCONS XII has been canceled</h3>
 <br>
<br>
<h4><p>FSCONS: The Free Society Conference</p></h4>
<p>A meeting place for social change, focused on the intersection between technology, culture and society. The conference brings together people from a wide range of fields, and merges the technical with the social, seeking both to activate and challenge. Your input in open discussion and brainstorming are as important as the talks given during the conference.</p>

<p></p>

    <!--p><b>FSCONS</b> also has <a href="https://frab.fscons.org/en/fsconsXII/public/speakers"><b>20 other speakers</b></a> speaking on diverse topics ranging from digital activism and internet censorship to digital art and hacking.</p-->
  <p>
  We also have four hands-on workshops where you can learn video editing, how to make peer-to-peer applications and how to hack with care.
  
  This is an intimate conference where you have an opportunity to have a discussion with speakers and other participants.  </p>
<!--
<p>FSCONS aims to be an accessible conference, and through the support of our sponsors is able to offer tickets at the low price of 700 SEK (about 70€)
  
  Get your FSCONS ticket today at<br>
  <a href="https://butik.friprogramvarusyndikatet.se/fscons/biljetter.html">https://butik.friprogramvarusyndikatet.se/fscons/biljetter.html </a> </p>

<p><br>
Looking forward to seeing you at FSCONS XII in November 2019!
<br><br>
The FSCONS team
</p>
<br>

-->


    <p class="more"><strong>Free Society Conference and Nordic Summit</strong>
    FSCONS exists to provide a meeting place where subjects covering society,
    culture and technology can be discussed and brought to life in peer
    discussions, without being confined to each particular subject area. It should
    provide both the physical and virtual space where people, organisations and
    governments, with interest in the three subject areas can meet in a
    participatory and constructive dialogue. The unique combination of topics
    creates a platform where cross-pollination between the areas can occur, and
    where new co-operations and thoughts can emerge which allows the participants
    to find new inspiration even from areas outside of their own.


<!--  
  <div class="row">
    <div class="col-md-offset-3 col-md-offset-3 col-sm-6 col-md-6"
         style="margin: 1em 0">
      <a href="https://tickets.fscons.org" class="btn btn-primary btn-lg btn-block">
        Register
      </a>
    </div>
  </div> 
  -->

  </div>

  <!-- ~~~ NEWS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Show a preview of the most recent news
  -->
  <div class="col-md-4">
      <br>
    <h3 style="margin-top:0">News</h3>
    <ul class="list-unstyled">
      $for(posts)$
      <li>
        <small class="text-muted">$date$</small><br/>
        <a href="$url$">$title$</a><br/><br/>
      </li>
      $endfor$
    </ul>
    <p>
      <a href="https://twitter.com/fscons" class="social-link"
         title="@fscons on twitter">
        <img src="$baseurl$/images/twitter.svg" alt="Twitter" style="height:2em" />
      </a>
      <a href="https://www.youtube.com/user/FSCONSTalks" class="social-link"
         title="FSCONS chanel on youtube">
        <img src="$baseurl$/images/youtube.svg" alt="Youtube" style="height:2em"/>
      </a>
      
    </p>
    <p>FSCONS proudly sponsored by:</p>
    <!--p><a href="http://www.frittord.no/">
<img src="https://fscons.org/2017/images/frittord-logo.png" height="100"><br></a>
</p>
<p><a href="https://www.nuugfoundation.no/en/">
<img src="https://www.nuugfoundation.no/images/nuugfoundation-small.gif" height="50"><br></a>
</p>
<p><a href="http://www.profsys.no/">
<img src="http://www.profsys.no/wp-content/uploads/2009/11/ps22.jpg" height="18"><br></a>
</p>
<p><a href="http://covalent.io/">
<img src="https://fscons.org/2017/images/covalent-logo.png" height="60"><br></a>
</p-->
<p><a href="https://friprogramvarusyndikatet.se/">
<img src="https://fscons.org/2011/sites/default/files/logo_580nom.png" height="35"><br></a>
</p>
  </div>

</div>

<div class="row">

  <!-- ~~~ SPEAKERS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Show a list of speakers pulled from frab
  -->
  <!--div class="col-md-8">
    <h3>FSCONS $year$ Speakers confirmed so far...</h3>
    <div class="row speakers">
      $for(speakers)$
      <div class="col-xs-3 col-sm-3 col-md-3 text-center">
        <img src="https://frab.fscons.org$speaker_image$" alt="Avatar" class="img-thumbnail"/>
        <br/>
        <a href="https://frab.fscons.org/en/fscons17/public/speakers/$speaker_id$">$speaker_name$</a>
      </div>
      $endfor$
    </div>
  </div-->

  <div class="col-md-4">
    <!--<div class="panel panel-default">
      <div class="panel-heading" style="background-image: url($baseurl$/images/map-2015-wide.png); background-size: cover; background-position: right center;"><h4>Practical information</h4></div>
      <div class="panel-body">
        <p><strong>Address</strong><br/>
          <addess>Humanisten<br/>Renströmsgatan 6, Göteborg</address></p>
      </div>

      <div class="list-group">
        <a href="$baseurl$/practical_info/venue.html" class="list-group-item">
          <strong class="list-group-item-heading">Venue</strong>
          <p class="list-group-item-text text-muted">Getting there, accessibility...</p>
        </a>
        <a href="https://en.wikivoyage.org/wiki/Gothenburg" class="list-group-item">
          <strong class="list-group-item-heading">Gothenburg on Wikivoyage</strong>
          <p class="list-group-item-text text-muted">Get in, accomodation, get around, see, do, eat, drink...</p>
        </a>
      </div>
    </div>-->
  </div>
</div> <!-- .row -->



    <form class="form-inline" action="https://lists.fripost.org/fscons.org/sympa/subscribe/announces/" method="POST">
      <strong>Sign up to receive updates </strong>
      <div class="input-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Your email">
        <span class="input-group-btn">
          <button id="subscribe-button" type="submit" class="btn btn-default">
            Subscribe
          </button>
        </span>
      </div>
      <input type="hidden" name="list" value="announces">
      <input type="hidden" name="action" value="subrequest">
      <input type="hidden" name="via_subrequest" value="1">
    </form>
