---
layout: news_layout
title: Meet Mozilla and other orgs at FSCONS
author: The FSCONS team
status: publish
type: post
published: true
---
<p><a href="https://fscons.org/2013/">FSCONS </a> start tomorrow, we hope that you are as excited as we are.</p>
<br>
<p>One of the great things about FSCONS is the opportunity to meet free software organizations. We are especially excited this year that representatives of Mozilla will be present with a booth. As a visitor you will be able to meet other Mozilla contributers, learn more about how to become involved in the Mozilla community and have the chance to try Mozilla's new mobile operating system <a href="http://www.mozilla.org/en-US/firefox/os/"> FirefoxOS </a>, for more info please visit this <a href="https://reps.mozilla.org/e/fscons-2013/" > page </a>. Beside Mozilla, <a href="http://meta.wikimedia.org/wiki/Nordic_Wikimedia">Wikimedia</a> and <a href="http://www.debian.org/">Debian</a> will also be present with a booth.</p>

