---
layout: news_layout
title: Registration is now open
author: The FSCONS team
status: publish
type: post
published: true
---
<p>
As of today you are able to <a href="https://tickets.fscons.org/">register</a> for this year edition of FSCONS. We are as usual offering a limited number of early bird-tickets (100) at a reduced price (350 Swedish kronor)
<br>
There is no reason not to book one right away!
<p/>

<p>
The lecture tracks this year are the following.
</p>
<p>
<ul>
  <li>Welcome to Dystopia </li>
  <li>Language and Technology  </li>
  <li>Visions and concrete examples for a just and sustainable economy  </li>
  <li>Gotta Catch 'Em All! (This track aims to gain access to groups not really targeted by existing and conventional free software groups)</li>
  <li>Trust is good, control is better. Technologies for people – not for Big Brother!</li>
</ul>
</p>

<p>
In addition to lectures FSCONS will as usual feature workshops, social events and a keynote by one of the most prominent members of the free software community. We look forward to meeting you all in November!
</p>
