/* ***************************************************************************
 * LIST VIEW
 *
 * The list view is a very common UI element of mobile apps
 * here we try to create the same effet in css.
 *
 * ListView should be used for list of clickable items.
 * examples include the main menu, the staff list, restaurants...
 *
 * It can be either a <navigation> or an <ul> element
 *
 * Be aware that margin, padding and dimension are calculated to
 * agree with the typographic grid of 20px. */
ul.listview,
navigation.listview {
  .make-row();
  list-style-type: none;
  //margin: 30px 0 30px 0 !important;
  padding: 0;

  li {
    .make-lg-column(4);
    //list-style-type:none;
    //@extend .span3;
    //@include makeColumn(4);
  
    a {
      border-bottom: thin #ececec solid;
      border-top: thin #ececec solid;
      color: inherit;
      display: block;
      margin: -1px 0 0;
      padding-bottom: 9px;
      padding-top:10px;
      text-decoration:none;
      &:hover { background-color: #f8f8f8;}
      &:hover:after { float:right; content: "»"; margin-right:5px;}
   
      &.add-icon {
        background-repeat: no-repeat;
        padding-left: 60px;
        background-position: 0px center;
      }
    }
  }
}
/* A special case of listview is a clickable menu with 32x32 icons.
 * For this we add hover and space the icons.
 * the actual icon is better specified in a style attribute on the element
 * itself.
 /* **** Main menu **** */
.listview.menu a {
  background-position: 9px center;
  background-repeat: no-repeat;
  padding-left: 50px;

  &:hover { background-color: #f8f8f8;}
  &:hover:after { float:right; content: "»"; margin-right:5px;}

}

/* ***************************************************************************
 * Home Screen Menu
 *
 * This is where the icons on the home page are defined.
 * The first component of background position is computed like this:
 *  position = (50 - icon_width) / 2
 */

#main-navigation a {
}


//#index_schedule {
//   background-image: url("ic_schedule_black.png");
//   background-position: 13px center;
//   padding-left: 50px;}
// #index_profile {
//   background-image: url("ic_profile_black.png");
//   background-position: 14px center;
//   padding-left: 50px;}
// #index_manifesto {
//   background-image: url("ic_manifesto_black.png");
//   background-position: 7px center;}
// #index_information {
//   background-image: url("ic_information_24.png");
//   background-position: 13px center;
//   padding-left: 50px;
//   font-size: 0.8em;}
// #index_map {
//   background-image: url("ic_map_black.png");
//   background-position: 9px center;
//   padding-left: 50px;}
// #index_restaurant {
//   background-image: url("ic_restaurant_black.png");
//   background-position: 8.5px center;
//   padding-left: 50px;}
// #index_notifications { 
//   background-image: url("ic_notifications_black.png");
//   background-position: 12px center;
//   padding-left: 50px;}
// #index_staff {
//   background-image: url("ic_staff_black.png");
//   background-position: 1.5px center;
//   padding-left: 50px;}
// #index_cfp {
//   background-image: url("ic_cfp_black.png");
//   background-position: 9px center;}
// #index_registration {
//   background-image: url("ic_registration_black.png");
//   background-position: 9px center;}
// #index_help {
//   background-image: url("ic_help_black.png");
//   background-position: 8px center;}
// #index_blog {
//   background-image: url("ic_blog_black.png");
//   background-position: 7px center;}
// #index_sponsors {
//   background-image: url("ic_sponsors_black.png");
//   background-position: 9px center;}
// 

