---
layout: news_layout
title: Hackeriet hosts FSCONS party!
author: The FSCONS team
status: publish
type: post
published: true
---
<p><img src="https://secure.meetupstatic.com/photos/event/e/8/6/c/600_465599500.jpeg" alt="FSCONS party at Hackeriet poster"></p>
<p>We are happy to announce that <a href="https://hackeriet.no/index.en.html">Hackeriet</a> is hosting the FSCONS Saturday
night party. <br>Doors open at 20:00, party is until 03:00.<br>
No cover, just donate.
<br>Sign up for the party at:<br>
<a href="https://www.meetup.com/hackeriet/events/244483260/">https://www.meetup.com/hackeriet/events/244483260/</a></p>