---
layout: news_layout
title: FSCONS warm-up party on Friday!
author: The FSCONS team
status: publish
type: post
published: true
---
<p>For those who are in town on Friday the student pub <a href="http://cyb.no/">Escape</a> is hosting the FSCONS warm-up party. Doors open
at 18:00, there will be a game of <a href="https://kahoot.com">Kahoot</a> at 19:00 and there will also be
pizza from 19:00.</p>

<p>Escape is located in the basement of the <a href="https://fscons.org/2017/news/2017-11-01-How-to-get-there.html">FSCONS venue.</a></p>