---
layout: news_layout
title: Accommodation
author: The FSCONS team
status: publish
type: post
published: true
---
<p> <a href="https://smarthotel.no/en/oslo">Smarthotel Oslo</a>  is booked for our speakers, and they may have some rooms
available for conference goers.</p>

<p>Our contact is Petra and anyone staying for FSCONS can get a room for our nice price, provided they book and pay under the booking code 165715:</p>

Enkeltrom 835,-<br>
Dobbeltrom 935,-<br>
Superiorrom: 1135,-<br>
breakfast included.<br>

<p>Use booking code: 165715</p>

<p>You can book by email to : <a href="mailto:volunteer@fscons.no">post.oslo@smarthotel.no</a></p>

<p>Other suggested accommodations are <a href="https://ankerhostel.no/?lang=en">Anker Hostel</a>, <a href="http://www.perminalen.no/default.aspx?cmd=1&view=1&L=GB">Perminalen</a> and <a href="https://www.scandichotels.com/hotels/norway/oslo/scandic-vulkan">Scandic Vulcan</a>. 
</p>


  