---
layout: news_layout
title: How to get there
author: The FSCONS team
status: publish
type: post
published: true
---

<p>Map of the local area:<br>
<img src="https://fscons.org/2017/images/fsconsmap.png" alt="Map of Ole Johan Dahls Hus, the FSCONS venue" />
<br>
<p>Here is a <a href="https://www.openstreetmap.org/search?query=ole%20johan%20dahls%20hus#map=18/59.94362/10.71833">link to the venue on OpenStreetMap.</a></p>

</p>

<p>The venue is located in at the University of Oslo in the Department of Informatics Building named Ole Johan Dahls hus. The area is called Forskningsparken. It takes about 15 minutes to get to the conference venue from Oslo center with tram, metro or taxi. The closest stop is called Forskningsparken.</p>

More info on how to get there here: <a href="http://www.mn.uio.no/ifi/english/about/getting-around/">http://www.mn.uio.no/ifi/english/about/getting-around/</a>


<p>If you travel by metro: Take west-bound line 6 towards Sognsvann or line 4 towards Ringen.</p> 

<p>By tram: Take line 17 or 18 towards Rikshospitalet.</p> 

<p>You can use this website to get more info on Tram and Metro: <a href="https://ruter.no/en/journey-planner/Mellom/Fra/(3010010)Oslo%20Sentralstasjon%20%5btog%5d%20(Oslo)/til/(3010371)Forskningsparken%20%5btrikk%5d%20(Oslo)/etter/#st:0,sp:0,bp:0">Ruter.no</a>
</p>

