---
layout: news_layout
title: Do you want to volunteer at FSCONS?
author: The FSCONS team
status: publish
type: post
published: true
---
<p> Needless to say <a href="https://fscons.org">FSCONS</a> would not be possible
without the volunteers that works during the conference. We need help with
things like manning the wardrobe, moving furniture, staff the reception and
cafe, run errands etc.</p>

<p>Being a volunteer at FSCONS is a great opportunity to meet awesome people,
listen to interesting talks, make new friends and have a generally nice time.
It can also be a first step in getting deeper involved in the organisation
process of the conference. It is a great opportunity that you don't want to
miss.</p>

<p>Besides free entrance to the conference volunteers get a free meal every day
you work at the conference.</p>

<p>If you want to sign up as a volunteer please send a email about what you want
  to work with and your contact details to <a
  href="mailto:volunteer@fscons.no">volunteer@fscons.no</a>. Right before the
  conference we will host two volunteer walkthroughs at our <a
    href="https://fscons.org/2017/news/2017-01-20-Location-confirmed.html">venue</a> (the
  dates for
  the walkthroughs have not been set yet, but will be available in the near
  future).</p>


<p>For more information about the different positions you can visit the <a
  href="http://wiki.fscons.org/page/ExecutionTeam">volunteer page</a> on the <a
href="http://wiki.fscons.org/page/Main_Page">FSCONS wiki</a>.</p>



