---
layout: default
title: Get involved
---
<h1>Get involved</h1>
<span class="subtitle">… and help organize the next FSCONS!</span>

<div class=content>
  <p>We are constantly looking for new people to make the next conference even more awesome than the previous one! If you like FSCONS and want to help us making it even better, send an email right now to the following address:

  <address><a href="mailto:volunteer@fscons.org">volunteer@fscons.org</a></address>

  <p>Tell us who you are, what you want to do or anything and we will get back to you as soon as possible.

  <h3>Where do we need help?</h3>

  <p>This can give you an idea of the different area where you can be useful:

  <dl>
    <dt>Web and graphism
    <dd>If you like to design posters and websites or if you are into web development then this team is for you!
    <dt>Administration
    <dd>If you fell home in skatteverket or if you are an email ninja we desperately need you!
    <dt>Logistic
    <dd>If your gift is to always cook the right amount of pastas and your fantasy is to go shopping with a truck we have something for you!
  </dl>

  <p>Whether you already are a specialist or just want to learn some aspect of organising a conference, or if you have ideas to share contact us!

  <address><a href="mailto:volunteer@fscons.org">volunteer@fscons.org</a></address>

  <h3>In the meantime</h3>

  <p>While you are (impatiently) waiting for our answer, there is a couple of things you can do.

  <ul>
    <!--li>Read our <a href="$baseurl$/manifesto.html">Manifesto</a> to get familiar with our core values.</li-->
    <li>Explore our <a href="$wiki$">wiki</a> where we try to gather the information on the conference's organization.
    <li>Just Do It(tm)! Start working on some aspect of the conference where you think you can help.
  </ul>

  <p>Thanks!
