---
layout: default
title: Accessibility
---
<h1>Accessibility</h1>
<br/>
<p>The venue building at Humanisten is an official Swedish education facility and should be designed to be accessible to everybody, regardless of needs and means of transportation.</p>

<p>Elevators are available as well as toilets with extra space and movement aids.</p>

<p>Most lecture room that will be used have a sound system which can be used together with hearing aids. All speakers have been encouraged to consider the clarity for all people in their visual material.</p>  

<p>The staff at FSCONS is happy to give assistance to anyone who needs it in order to get access to the conference, both beforehand and during the event.</p>