---
layout: default
title: Eating
---

<h1>Eating</h1>
<br/>
<ul class="listview menu">
  <li><a data-icon="../images/ic_gettingthere_32.png" href="#at_venue">Eating at the venue</a></li>
  <li><a data-icon="../images/ic_eating_32.png" href="#restaurants">Nearby restaurants</a></li>
</ul>

<h2 id="at_venue">Eating at the venue</h2>
<p>A cafe will be available at the venue and will be selling hot soup, salads, pizza slices, sandwiches and snacks. It will be open until 22:30 all days of the conference and will open at 9:15 in the morning on Saturday and Sunday.</p>

<p>A simple breakfast will be provided on Saturday and Sunday free of charge for all participants. It will include sandwiches, coffee, tea and fruit. It will be available from that the cafe opens until food runs out.</p>

<p>All kinds of food will be available in vegan form. There will also be alternatives containing meat available in most cases, but this does not include the hot soup.</p>

<h2 id="restaurants">Nearby restaurants</h2>

<p>Since the venue is located in a central area with many tourist attraction there are loads of restaurants located nearby. The following are some suggestions. Most restaurants have some vegetarian dishes.</p>

<ul>
  <li><a href="http://www.madras.se">Madras</a> &ndash; Indian restaurant. Open Friday and Saturday, closed Sunday. Utlandagatan 14.</li>
  <li>Plaka &ndash; Indian restaurant. Opening hours unknown. Utlandagatan 14.</li>
  <li>Tai Smile &ndash; Thai restaurant. Opening hours unknown. Utlandagatan 2.</li>
  <li><a href="http://www.baikraprao.se">Bai Kraprao Halal Thai Restaurang</a> &ndash; Tai restaurant. Open Friday and Saturday, closed Sunday. Utlandagatan 14.</li>
  <li>Pizzeria Lásultana &ndash; Opening hours unknown. Eklandagatan 8.</li>
  <li>Restaurang Mandarin &ndash; Opening hours unknown. Södra vägen 51.</li>
  <li><a href="http://sattva.kvartersmenyn.se/">Sattva</a> &ndash; Vegetarian friendly. Open weekdays on lunch hours. Södra vägen 73.</li>
  <li><a href="http://www.restaurangtabla.se/">Tabla</a> &ndash; Located in the Museum of World Culture. Open all week. Södra vägen 54.</li>
</ul>
