---
layout: default
title: Schedule
---
<h1>Schedule</h1>

<div class="row">
  <div class="col-md-12 text-center"
       style="padding-top: 30px; background-color: #743C58; color: #fff; margin:1em;">
    <p class="lead">
      Looking for information about individual talks?
      <a class="btn btn-success btn-lg" href="$schedule$">
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        Go to the detailed schedule
      </a>
    </p>
  </div>
</div>

<section id="keynotes">
  <h2>Keynotes speakers</h2>

    <article class="row">
      <div class="col-xs-3 col-md-2 text-center">
        <img src="$baseurl$/images/ken-mcleod.png"
             alt="Ken McLeod at Worldcon 2005 in Glasgow, August 2005. Picture taken by Szymon Sokół."
             class="img-rounded" style="max-width:100%">
      </div>
      <div class="col-xs-9 col-md-10">
        <h4>Ken MacLeod <small>Saturday 14:00, Stora hörsalen</small></h4>
        <p>
          Scottish science fiction writer.
          <a href="https://frab.fscons.org/en/fscons2015/public/speakers/209">
            <small>Read more.</small>
          </a>
        </p>
        <p class="text-muted"> Picture Szymon Sokół/Wikimedia Commons </p>
      </div>
    </article>

    <article class="row" style="margin-top:1em">
      <div class="col-xs-3 col-md-2 text-center">
        <img src="$baseurl$/images/birgitta-jonsdottir.jpg"
             alt="Birgitta Jónsdóttir"
             class="img-rounded" style="max-width:100%">
      </div>
      <div class="col-xs-9 col-md-10">
        <h4>Birgitta Jónsdóttir <small>Sunday 14:00, Stora hörsalen</small></h4>
        <p>
          Poetician and activist in the Icelandic Parliament for the Pirate Party.
          <a href="https://frab.fscons.org/en/fscons2015/public/speakers/210">
            <small>Read more.</small>
          </a>
        </p>
      </div>
    </article>
</section>

<section id="tracks">
  <h2>Tracks</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Track</th>
        <th>Day</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>P2P Society</td>
        <td>
          <a href="https://frab.fscons.org/en/fscons2015/public/schedule/0">
            Saturday
          </a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Everyday Crypto</td>
        <td>
          <a href="https://frab.fscons.org/en/fscons2015/public/schedule/0">
            Saturday
          </a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Biohacking (in collaboration with <a href="http://biohackingsafari.com/">Biohacking Safari</a>)</td>
        <td>
          <a href="https://frab.fscons.org/en/fscons2015/public/schedule/0">
            Saturday
          </a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Misc.</td>
        <td>
          <a href="https://frab.fscons.org/en/fscons2015/public/schedule/1">
            Sunday
          </a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Groundbreaking User Experiences</td>
        <td>
          <a href="https://frab.fscons.org/en/fscons2015/public/schedule/1">
            Sunday
          </a>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Keepers of Culture</td>
        <td>
          <a href="https://frab.fscons.org/en/fscons2015/public/schedule/1">
            Sunday
          </a>
        </td>
        <td></td>
      </tr>
  </table>
</section>

<section id="lightning-talks">
  <h2>Lightning talks</h2>
  <p>These are short talks which anyone can sign up to hold. Register at the
  spot to present your project, organisation or crazy idea!</p>
</section>

<section id="social-event">
  <h2>Social events</h2>
  <p>Social activities are planned in the evenings of both days. These
  include movies, music and just hanging out together.</p>
</section>
