<h2>FSCONS X, <small>12-13 November 2016, Marstrand, Sweden</small></h2>

<div class="row">
  <div class="col-md-8">

    <p>Celebrating our tenth anniversary, FSCONS 2016 will take place at
    <a href="https://www.marstrands.se/">Marstrands Havshotell</a>,
    beautifully situated on the west coast of Sweden.

    <p>As such, there will be a few differences to our usual conference.

    <ul>
      <li> There will be no tracks or themes, and no keynotes. Instead, we have
        invited 12 fantastic speakers. Some are among our favourites from
        previous conferences, some are people we have previously invited but
        that were unable to come before, and some are people doing new and
        exiting things.

      <li> The number of participants is limited to the number of rooms in the
        hotel, which is about 100. The participation fee will be somewhat
        higher than previous years. However, this price includes all meals and
        one night at the hotel, and corresponds to the actual cost per
        participant. As such, there will be no early bird tickets.

      <li> Depending on our luck in getting sponsors, we may be able to refund
        some of the costs for participants. We will put up an application form
        for this as the conference approaches and divide any surplus fairly
        among applicants.
    </ul>

    <p class="more"><strong>Free Society Conference and Nordic Summit</strong>
    FSCONS exists to provide a meeting place where subjects covering society,
    culture and technology can be discussed and brought to life in peer
    discussions, without being confined to each particular subject area. It should
    provide both the physical and virtual space where people, organisations and
    governments, with interest in the three subject areas can meet in a
    participatory and constructive dialogue. The unique combination of topics
    creates a platform where cross-pollination between the areas can occur, and
    where new co-operations and thoughts can emerge which allows the participants
    to find new inspiration even from areas outside of their own.


  <div class="row">
    <div class="col-md-offset-3 col-md-offset-3 col-sm-6 col-md-6"
         style="margin: 1em 0">
      <a href="https://tickets.fscons.org" class="btn btn-primary btn-lg btn-block">
        Register
      </a>
    </div>
  </div>

  </div>

  <!-- ~~~ NEWS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Show a preview of the most recent news
  -->
  <div class="col-md-4">
    <h3 style="margin-top:0">News</h3>
    <ul class="list-unstyled">
      $for(posts)$
      <li>
        <small class="text-muted">$date$</small><br/>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
    <p>
      <a href="https://twitter.com/fscons" class="social-link"
         title="@fscons on twitter">
        <img src="$baseurl$/images/twitter.svg" alt="Twitter" style="height:2em" />
      </a>
      <a href="https://www.youtube.com/user/FSCONSTalks" class="social-link"
         title="FSCONS chanel on youtube">
        <img src="$baseurl$/images/youtube.svg" alt="Youtube" style="height:2em"/>
      </a>
    </p>
  </div>

</div>

<div class="row">

  <!-- ~~~ SPEAKERS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Show a list of speakers pulled from frab
  -->
  <div class="col-md-8">
    <h3>FSCONS $year$ Speakers confirmed so far...</h3>
    <div class="row speakers">
      $for(speakers)$
      <div class="col-xs-3 col-sm-3 col-md-3 text-center">
        <img src="https://frab.fscons.org$speaker_image$" alt="Avatar" class="img-thumbnail"/>
        <br/>
        <a href="https://frab.fscons.org/en/fscons16/public/speakers/$speaker_id$">$speaker_name$</a>
      </div>
      $endfor$
    </div>
  </div>

  <div class="col-md-4">
    <!--<div class="panel panel-default">
      <div class="panel-heading" style="background-image: url($baseurl$/images/map-2015-wide.png); background-size: cover; background-position: right center;"><h4>Practical information</h4></div>
      <div class="panel-body">
        <p><strong>Address</strong><br/>
          <addess>Humanisten<br/>Renströmsgatan 6, Göteborg</address></p>
      </div>

      <div class="list-group">
        <a href="$baseurl$/practical_info/venue.html" class="list-group-item">
          <strong class="list-group-item-heading">Venue</strong>
          <p class="list-group-item-text text-muted">Getting there, accessibility...</p>
        </a>
        <a href="https://en.wikivoyage.org/wiki/Gothenburg" class="list-group-item">
          <strong class="list-group-item-heading">Gothenburg on Wikivoyage</strong>
          <p class="list-group-item-text text-muted">Get in, accomodation, get around, see, do, eat, drink...</p>
        </a>
      </div>
    </div>-->
  </div>
</div> <!-- .row -->


    <form class="form-inline" action="https://lists.fripost.org/fscons.org/sympa/subscribe/announces/" method="POST">
      <strong>Sign up to receive updates </strong>
      <div class="input-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Your email">
        <span class="input-group-btn">
          <button id="subscribe-button" type="submit" class="btn btn-default">
            Subscribe
          </button>
        </span>
      </div>
      <input type="hidden" name="list" value="announces">
      <input type="hidden" name="action" value="subrequest">
      <input type="hidden" name="via_subrequest" value="1">
    </form>
