@import url('//fonts.googleapis.com/css?family=Anton&v1');
@import url('//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,regular,bold&v1');
@import url('//fonts.googleapis.com/css?family=VT323&v1');

// This is the main page title
h1 {
  font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

.byline {
  //margin-bottom: 40px;
  font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
  font-weight: lighter;
  font-size: medium;
  line-height: 0;
}
