<h2>FSCONS 2015, <small>7-8 November, Göteborg, Sweden</small></h2>

<div class="row">
  <div class="col-md-8">
    <p class="more"><strong>Free Society Conference and Nordic Summit</strong>
    FSCONS exists to provide a meeting place where subjects covering society,
    culture and technology can be discussed and brought to life in peer
    discussions, without being confined to each particular subject area. It should
    provide both the physical and virtual space where people, organisations and
    governments, with interest in the three subject areas can meet in a
    participatory and constructive dialogue. The unique combination of topics
    creates a platform where cross-pollination between the areas can occur, and
    where new co-operations and thoughts can emerge which allows the participants
    to find new inspiration even from areas outside of their own.


  <div class="row">
    <div class="col-sm-4 col-md-4" style="margin: 1em 0">
      <a href="$baseurl$/schedule/" class="btn btn-primary btn-lg btn-block">
        Schedule
      </a>
    </div>
    <div class="col-sm-4 col-md-4" style="margin: 1em 0">
      <a href="$baseurl$/register.html" class="btn btn-primary btn-lg btn-block" style="background:#c60000;border-color:#c60000;">
        Register
      </a>
    </div>
    <div class="col-sm-4 col-md-4" style="margin: 1em 0">
      <a href="$baseurl$/get-involved.html" class="btn btn-primary btn-lg btn-block" style="background:#f8cc00;border-color:#f8cc00;">
        Volunteer
    </a>
    </div>
  </div>

  </div>
  <!-- ~~~ NEWS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Show a preview of the most recent news
  -->
  <div class="col-md-4">
    <h3 style="margin-top:0">News</h3>
    <ul class="list-unstyled">
      $for(posts)$
      <li>
        <small class="text-muted">$date$</small><br/>
        <a href="$url$">$title$</a>
      </li>
      $endfor$
    </ul>
    <p>
      <a href="https://twitter.com/fscons" class="social-link"
         title="@fscons on twitter">
        <img src="$baseurl$/images/twitter.svg" alt="Twitter" style="height:2em" />
      </a>
      <a href="https://www.youtube.com/user/FSCONSTalks" class="social-link"
         title="FSCONS chanel on youtube">
        <img src="$baseurl$/images/youtube.svg" alt="Youtube" style="height:2em"/>
      </a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>FSCONS $year$ Speakers</h3>
    <div class="row speakers">
      <div class="col-xs-6 col-sm-6 col-md-6 text-center keynote-speaker">
        <img src="https://frab.fscons.org/system/avatars/210/large/birgitta-jonsdottir.jpg?1442068585" alt="Avatar" class="img-thumbnail"/>
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/210">Birgitta Jónsdóttir</a>
        <p class="text-muted">Keynote speaker</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-center keynote-speaker">
        <img src="https://frab.fscons.org/system/avatars/209/large/KenMacLeod.jpg?1442848850" alt="avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/209">Ken MacLeod</a>
        <p class="text-muted">Keynote speaker</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/205">Arwid Lund</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/217">Brit Stakston</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/215/large/chrismatthieu.jpeg?1442354049" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/215">Chris Matthieu</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/204">Christian Lains</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/192">Dataskydd.NET</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/213">Georg Koppen</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/198">Guido Arnold</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/199/large/scaled.jpg?1436997002" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/199">Gustav Eek</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/80/large/20140712_083135.jpg?1407763865" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/80">Hans Lysglimt Johansen</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/189">hcderaad</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/214">Ilya Levantis</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/216">Joachim Strömbergson</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/207">Johanna Berg</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/77">Leandros Savvides</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/203">Manuel Lains</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/218">Martin Schibbye</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/194/large/facesmiley1.png?1442316932" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/194">Michael Schloh von Bennewitz</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/202">Myriam Bouré</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/201">Patrice Riemens</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/196/large/46a78516-57e5-431d-a163-b07d1044dd4a.jpg?1442257718" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/196">Patrik Gustafsson</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/197/large/1mYMmrFa.jpg?1438018455" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/197">Philip Ballew</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/75/large/profile-s.jpg?1401723207" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/75">Sam Tuke</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/212">Seth David Schoen</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/186">Thomas Schwotzer</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/assets/person_large-a1dc981da5d1712bc762f3078f201174.png" alt="generic avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/208">Werner Koch</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center">
        <img src="https://frab.fscons.org/system/avatars/190/large/yury_andreev-2015.jpg?1446214198" alt="avatar" class="img-thumbnail" />
        <br/>
        <a href="https://frab.fscons.org/en/fscons2015/public/speakers/190">Yury Andreev</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-image: url($baseurl$/images/map-2015-wide.png); background-size: cover; background-position: right center;"><h4>Practical information</h4></div>
      <div class="panel-body">
        <p><strong>Address</strong><br/>
          <addess>Humanisten<br/>Renströmsgatan 6, Göteborg</address></p>
      </div>

      <div class="list-group">
        <a href="$baseurl$/practical_info/venue.html" class="list-group-item">
          <strong class="list-group-item-heading">Venue</strong>
          <p class="list-group-item-text text-muted">Getting there, accessibility...</p>
        </a>
        <a href="https://en.wikivoyage.org/wiki/Gothenburg" class="list-group-item">
          <strong class="list-group-item-heading">Gothenburg on Wikivoyage</strong>
          <p class="list-group-item-text text-muted">Get in, accomodation, get around, see, do, eat, drink...</p>
        </a>
      </div>
    </div>
  </div>
</div> <!-- .row -->


    <form class="form-inline" action="https://lists.fripost.org/fscons.org/sympa/subscribe/announces/" method="POST">
      <strong>Sign up to receive updates </strong>
      <div class="input-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Your email">
        <span class="input-group-btn">
          <button id="subscribe-button" type="submit" class="btn btn-default">
            Subscribe
          </button>
        </span>
      </div>
      <input type="hidden" name="list" value="announces">
      <input type="hidden" name="action" value="subrequest">
      <input type="hidden" name="via_subrequest" value="1">
    </form>
