/* -*- coding: utf-8 -*-
 * Copyright (C) 2011 Grégoire Détrez, Patrik Willard
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

/* ************************************************************************ */
/*                               SCHEDULE                                   */
/* ************************************************************************ */

h4.time {
    font-family: helvetica, arial, Sans-serif;
    font-size: 1em;
    font-weight: bold;
    background: #999;
    color:white;
    text-align:center;
    margin: 2.5em 0 1.25em 0;    
}

h4.social-event {
    margin: 0 0 0 0.50em !important;
    padding: 0 0 0 0.6em !important;
    font-size: 1.5em !important;
}

ul.sessions {
    margin: 0;
    padding:0;
}

ul.sessions li {
    margin: 0 0 1.25em 0;
    list-style-type: none;
    list-style-position: inside;
}

/* Special typography for food/social events */
.session.other .title {
    display:block;
    font-variant: small-caps;
    color: #555;
    text-align:center;
/*    border-bottom: 2px solid #999;*/
}

/* Special typography for food/social events */
.session.other .description {
    color: #555;
    font-style: italic;
/*    border-bottom: 2px solid #999;*/
}
.session.other .description p {
    text-align: center;
}

.session.other .description ul {
    margin:0;
}

/* Special typography for TBA */
.session.tba, .empty {
    font-style:italic;
    color: #555;
#    text-align:center;
}

/* This is good for wide screen but not for phones.
 * So we only apply it when screen size is bigger than 500px */
@media screen and (min-width: 500px) {
    h4.time {
	font-size: 2em;
	color: #aaaaaa; background:none;
	float: left;
	font-variant: small-caps;
	width: 2em;
	text-align:left;
	margin:0;
	clear: left;

    }
    ul.sessions {
	margin-left: 8em;
	margin-bottom: 2.5em;
    }
}

a.track {
    color: inherit;
    text-decoration: none;
}

/* /\* tracks *\/ */
/* .session.undef { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/all.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.embedded { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/embedded.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.money { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/money.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.desktop { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/desktop.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.politics { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/politics.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.building { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/building.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.security { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/security.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.accessibility { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/accessibility.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* .session.community { */
/*     list-style-type: none; */
/*     padding-left: 25px; */
/*     background-image: url("tracks/community.png"); */
/*     background-repeat: no-repeat; */
/*     background-position: 0 0; */
/* } */

/* Inline track and room informations */
dl.session_info_inline {
    color: #555;
    margin:0;
}

dl.session_info_inline dt {
    float: left;
    clear:left;
    font-weight: bold;
    padding-right: 0.2em;
}

dl.session_info_inline dt:after {
    content: ": ";
}

dl.session_info_inline dd {
    font-weight: bold;
}

/** Friday note */
div.warning {
}

p.warning {
    background: #ffeeaa url("note-50.png") 5px center no-repeat;
    padding: 1.25em 10px 1.25em 60px;
}

/* ************************************************************************ */
/*                           SESSION DETAILS                                */
/* ************************************************************************ */
dl.session_info {
    /* old bg: #FFFFAA */
    background: none repeat scroll 0 0 #FFeeAA;
    border: thin solid #999900;
    padding: 1.25em 1.5em;
    margin: 1.25em 0;
}

@media screen and (min-width: 500px) {
  div.description{ max-width: 35em;}
    dl.session_info { margin:1.25em; float:right; width:10em;}
}

dl.session_info dt {
    float: left;
    clear:left;
    font-weight: bold;
    padding-right: 0.2em;
}

dl.session_info dt:after {
    content: ": ";
}

dl.session_info dd {
}

/* Workshop signup */
.signup{
    margin: 1.25em 0;
}

.signup a {
         box-sizing: border-box;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  width: 100%;
}


@media screen and (min-width: 500px) {
    .signup { margin:0 1.25em; float:right; width:13em;}
}

.signup p { color:grey; font-style: italic;}


/* ************************************************************************ */
/*                            SESSION_LIST                                  */
/* ************************************************************************ */
.session_list { margin:0 0 1.25em; padding:0; }
.session_list li { 
    list-style-type: none;
    font-weight: bold;}
.session_list .time { font-weight: bold;}

.past h4:after {
    content: "✔";
    color: #00ff00;
    font-size: 1em;
}

/* ************************************************************************ */
/*                          RELATED EVENTS LIST                             */
/* ************************************************************************ */
.related_events {}
.related_events li {
    display:block;
    list-style-type:none;
    margin:.75em;
    border: thin gray solid;
    padding: .75em;
}
.related_events li .name {
    font-weight: bold;
}
.related_events li a {}
.related_events li .info {
    color:gray;
    font-style: italic;
}
