<!-- This page lists all news items in reverse chronological order -->
<section id="news">
  <h1>News</h1>
  <br/>
  $for(posts)$
  <article class="col-md-12">
    <h4>
        <a href="$url$">$title$</a>
    </h4>
    <p><small>$date$, $author$</small></p>
    <p>$snipet$...</p>
    <p class="text-right"><a href="$url$">read more</a></p>
  </article>
  $endfor$
</section>


