---
layout: default
title: Call for participation
---
<p><h1>Call for participation</h1></p>

<p class="byline">FSCONS 2013, November 08&#x2012;10</p>
<br/>
<p>The Free Society Conference and Nordic Summit (FSCONS) is a meeting place for social change, focused on the intersection between technology, culture and society. The conference brings together people from a wide range of fields, and merges the technical with the social, seeking both to activate and challenge. Open discussion and brainstorming are as important as the talks given during the conference.

<h2>Invitation</h2>

<p>For this years conference we're looking for proposals on a number of
different subjects. We're looking for proposals that relate to Free Software,
Free Culture or Free Society generally, as well as those which are at the
crossroads of the three or which take the philosophy and brings them to a whole
new field. To give you a hint of the scope of the conference here are some
topics already planned:
<ul>
  <li>Economy
  <li>Dystopia
  <li>Hackerspaces
  <li>Language and technology
  <li>Children, parent &amp; education
</ul>
<p>But don't let this restrict your thinking: you can submit a proposal even if
it doesn't quite fit into any of the above topics. <b>The dealine for your
  proposal is July 5th.</b>

<h2>How to submit your proposal</h2>
In order to submit your proposal, please go to
<a href="http://frab.fscons.org/en/fscons13/cfp/">FSCONS 2013 CFP</a>,
register your proposal and make sure your provide valid contact information. This
proposal form is to be used only for your personal proposal. If you have ideas of
other people you want to suggest as speakers, please feel free to suggest
those in the FSCONS <a href="$wiki$/page/Suggested_Speakers_2013">Wiki</a>.

<p>After the review period, ending August 1 st, you will get notified if your
proposal is accepted or not.

<p style="text-align:right"><a class="btn btn-primary" href="http://frab.fscons.org/en/fscons13/cfp/">Submit an event <i class="icon-arrow-right icon-white"></i></a>

<h2>Important dates for FSCONS 2013</h2>
<ul><li>July 5th - deadline for submissions
    <li>August 1 st - accepted proposals will be notified.
    <li>If your proposal is accepted, the abstract submission deadline is September 1 st.
</ul>
<p>Looking forward to see you at FSCONS 2013 in November!

<p><em>Programme managers, Stian and Leif-Jöran</em>
