@import "variables.less";

// Colors
@fscons-red:                                  #c60000;
@fscons-blue:                                 #003897;
@fscons-yellow:                               #fcd116;

@text-color:                                  black;
@brand-primary:                              @fscons-blue;
@link-color:                                  @fscons-blue;
@navbar-default-color:                        #f5f5f5;
@navbar-default-bg:                           #1a1a1a;
@navbar-default-border:                       darken(@navbar-default-bg, 10%);

@navbar-default-color:                        #f5f5f5;
@navbar-default-bg:                           #1a1a1a;
@navbar-default-border:                       darken(@navbar-default-bg, 10%);

// Inverted navbar links
@navbar-default-link-color:                   @navbar-default-color;
@navbar-default-link-hover-color:             #fff;
@navbar-default-link-hover-bg:                transparent;
@navbar-default-link-active-color:            @navbar-default-link-hover-color;
@navbar-default-link-active-bg:               rgba(0,0,0,0.2);
@navbar-default-link-disabled-color:          #444;
@navbar-default-link-disabled-bg:             transparent;

// Inverted navbar brand label
@navbar-default-brand-color:                  @navbar-default-link-color;
@navbar-default-brand-hover-color:            @navbar-default-link-hover-color;
@navbar-default-brand-hover-bg:               @navbar-default-link-hover-bg;

// Inverted navbar toggle
@navbar-default-toggle-hover-bg:              #333;
@navbar-default-toggle-icon-bar-bg:           #fff;
@navbar-default-toggle-border-color:          #333;

@import "bootstrap.less";

body {
  //padding-top:100px;
}
.container { max-width: 800px; }

// Navbar height
@navbar-height: 85px;

// Compute the size of the color stripes at the top of
// the navbar via [strip height in px] / [navbar height in px]
@navbar-stripe-size: 2px; // / 64; //@navbar-height;

// Colors
@fscons-red:            #c60000;
@fscons-blue:           #003897;
@fscons-yellow:         #fcd116;

@navbar-fscons-color:                       #f5f5f5;
@navbar-fscons-bg:                          #1a1a1a;
@navbar-fscons-border:                      darken(@navbar-fscons-bg, 10%);

// Inverted navbar links
@navbar-fscons-link-color:                  @navbar-fscons-color;
@navbar-fscons-link-hover-color:            #fff;
@navbar-fscons-link-hover-bg:               transparent;
@navbar-fscons-link-active-color:           @navbar-fscons-link-hover-color;
@navbar-fscons-link-active-bg:              darken(@navbar-fscons-bg, 10%);
@navbar-fscons-link-disabled-color:         #444;
@navbar-fscons-link-disabled-bg:            transparent;

// Inverted navbar brand label
@navbar-fscons-brand-color:                 @navbar-fscons-link-color;
@navbar-fscons-brand-hover-color:           @navbar-fscons-link-hover-color;
@navbar-fscons-brand-hover-bg:              @navbar-fscons-link-hover-bg;

// Inverted navbar toggle
@navbar-fscons-toggle-hover-bg:             #333;
@navbar-fscons-toggle-icon-bar-bg:          #fff;
@navbar-fscons-toggle-border-color:         #333;

// FSCONS navbar
// -------------------------
.navbar-default {
  // By default, non fixed navbar have rounded corners,
  // so we need to remove them
  border-radius: 0;
//   padding:1em 0;
//   //margin: 0;

  /* This code creates the small stripe of colors on the top of the
   * the navbar as as css gradient. */
  background-color: @navbar-fscons-bg;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
    from(@fscons-blue),
    color-stop(@navbar-stripe-size,     @fscons-blue),
    color-stop(@navbar-stripe-size * 1, @fscons-red),
    color-stop(@navbar-stripe-size * 2, @fscons-red),
    color-stop(@navbar-stripe-size * 2, @fscons-yellow),
    color-stop(@navbar-stripe-size * 3, @fscons-yellow),
    color-stop(@navbar-stripe-size * 3, @navbar-fscons-bg),
    to(@navbar-fscons-bg));
  background-image: -webkit-linear-gradient( @fscons-blue,
    @fscons-blue      @navbar-stripe-size,
    @fscons-red       @navbar-stripe-size * 1,
    @fscons-red       @navbar-stripe-size * 2,
    @fscons-yellow    @navbar-stripe-size * 2,
    @fscons-yellow    @navbar-stripe-size * 3,
    @navbar-fscons-bg @navbar-stripe-size * 3,
    @navbar-fscons-bg);
  background-image: -moz-linear-gradient(top,
    @fscons-blue,
    @fscons-blue   @navbar-stripe-size * 1 * 100%,
    @fscons-red    @navbar-stripe-size * 1 * 100%,
    @fscons-red    @navbar-stripe-size * 2 * 100%,
    @fscons-yellow @navbar-stripe-size * 2 * 100%,
    @fscons-yellow @navbar-stripe-size * 3 * 100%,
    @navbar-fscons-bg        @navbar-stripe-size * 3 * 100%,
    @navbar-fscons-bg);
  background-image: -o-linear-gradient(
    @fscons-blue,
    @fscons-blue   @navbar-stripe-size,
    @fscons-red    @navbar-stripe-size * 1,
    @fscons-red    @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 3,
    @navbar-fscons-bg        @navbar-stripe-size * 3,
    @navbar-fscons-bg);

  background-image: linear-gradient(
    @fscons-blue,
    @fscons-blue   @navbar-stripe-size,
    @fscons-red    @navbar-stripe-size * 1,
    @fscons-red    @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 3,
    @navbar-fscons-bg        @navbar-stripe-size * 3,
    @navbar-fscons-bg);
  background-repeat: no-repeat;

  .navbar-brand {
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 32px;
    line-height: 40px;
    img.logo {
      float:left;
      margin: 9px 15px;
      height:40px;
    }
    &, a, p {
      font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
      color:white;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    }
    p {
      margin: 0 0 0 75px ;
      font-size:16px;
      line-height:20px;
      font-weight:lighter;
    }
  }
}
// Typography
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Yanone-Kaffeesatz-300/Yanone-Kaffeesatz-300.eot');
  src: url('../fonts/Yanone-Kaffeesatz-300/Yanone-Kaffeesatz-300.eot?#iefix') format('embedded-opentype'),
       local('Yanone Kaffeesatz Light'),
       local('Yanone-Kaffeesatz-300'),
       url('../fonts/Yanone-Kaffeesatz-300/Yanone-Kaffeesatz-300.woff2') format('woff2'),
       url('../fonts/Yanone-Kaffeesatz-300/Yanone-Kaffeesatz-300.woff') format('woff'),
       url('../fonts/Yanone-Kaffeesatz-300/Yanone-Kaffeesatz-300.ttf') format('truetype'),
       url('../fonts/Yanone-Kaffeesatz-300/Yanone-Kaffeesatz-300.svg#YanoneKaffeesatz') format('svg');
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.eot');
  src: url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.eot?#iefix') format('embedded-opentype'),
       local('Yanone Kaffeesatz Regular'),
       local('Yanone-Kaffeesatz-regular'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.woff2') format('woff2'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.woff') format('woff'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.ttf') format('truetype'),
       url('../fonts/Yanone-Kaffeesatz-regular/Yanone-Kaffeesatz-regular.svg#YanoneKaffeesatz') format('svg');
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Yanone-Kaffeesatz-700/Yanone-Kaffeesatz-700.eot');
  src: url('../fonts/Yanone-Kaffeesatz-700/Yanone-Kaffeesatz-700.eot?#iefix') format('embedded-opentype'),
       local('Yanone Kaffeesatz Bold'),
       local('Yanone-Kaffeesatz-700'),
       url('../fonts/Yanone-Kaffeesatz-700/Yanone-Kaffeesatz-700.woff2') format('woff2'),
       url('../fonts/Yanone-Kaffeesatz-700/Yanone-Kaffeesatz-700.woff') format('woff'),
       url('../fonts/Yanone-Kaffeesatz-700/Yanone-Kaffeesatz-700.ttf') format('truetype'),
       url('../fonts/Yanone-Kaffeesatz-700/Yanone-Kaffeesatz-700.svg#YanoneKaffeesatz') format('svg');
}


// This is the main page title
h1 {
  font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

.byline {
  //margin-bottom: 40px;
  font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
  font-weight: lighter;
  font-size: medium;
  line-height: 0;
}
/* ***************************************************************************
 * Footer style and layout
 */
#footer {
  background: #f3f3f3;
  margin: 2.5em auto 0;
  padding: 1.25em 0;

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      font-size: .75em;
      list-style-type: none;
      margin-left: 2em;

      a {
        color: #666;
        text-decoration: none;
      }
    }
  }
}
/* ***************************************************************************
 * LIST VIEW
 *
 * The list view is a very common UI element of mobile apps
 * here we try to create the same effet in css.
 *
 * ListView should be used for list of clickable items.
 * examples include the main menu, the staff list, restaurants...
 *
 * It can be either a <navigation> or an <ul> element
 *
 * Be aware that margin, padding and dimension are calculated to
 * agree with the typographic grid of 20px. */
ul.listview,
navigation.listview {
  .make-row();
  list-style-type: none;
  //margin: 30px 0 30px 0 !important;
  padding: 0;

  li {
    .make-lg-column(4);
    //list-style-type:none;
    //@extend .span3;
    //@include makeColumn(4);
  
    a {
      border-bottom: thin #ececec solid;
      border-top: thin #ececec solid;
      color: inherit;
      display: block;
      margin: -1px 0 0;
      padding-bottom: 9px;
      padding-top:10px;
      text-decoration:none;
      &:hover { background-color: #f8f8f8;}
      &:hover:after { float:right; content: "»"; margin-right:5px;}
   
      &.add-icon {
        background-repeat: no-repeat;
        padding-left: 60px;
        background-position: 0px center;
      }
    }
  }
}
/* A special case of listview is a clickable menu with 32x32 icons.
 * For this we add hover and space the icons.
 * the actual icon is better specified in a style attribute on the element
 * itself.
 /* **** Main menu **** */
.listview.menu a {
  background-position: 9px center;
  background-repeat: no-repeat;
  padding-left: 50px;

  &:hover { background-color: #f8f8f8;}
  &:hover:after { float:right; content: "»"; margin-right:5px;}

}

/* ***************************************************************************
 * Home Screen Menu
 *
 * This is where the icons on the home page are defined.
 * The first component of background position is computed like this:
 *  position = (50 - icon_width) / 2
 */

#main-navigation a {
}


//#index_schedule {
//   background-image: url("ic_schedule_black.png");
//   background-position: 13px center;
//   padding-left: 50px;}
// #index_profile {
//   background-image: url("ic_profile_black.png");
//   background-position: 14px center;
//   padding-left: 50px;}
// #index_manifesto {
//   background-image: url("ic_manifesto_black.png");
//   background-position: 7px center;}
// #index_information {
//   background-image: url("ic_information_24.png");
//   background-position: 13px center;
//   padding-left: 50px;
//   font-size: 0.8em;}
// #index_map {
//   background-image: url("ic_map_black.png");
//   background-position: 9px center;
//   padding-left: 50px;}
// #index_restaurant {
//   background-image: url("ic_restaurant_black.png");
//   background-position: 8.5px center;
//   padding-left: 50px;}
// #index_notifications { 
//   background-image: url("ic_notifications_black.png");
//   background-position: 12px center;
//   padding-left: 50px;}
// #index_staff {
//   background-image: url("ic_staff_black.png");
//   background-position: 1.5px center;
//   padding-left: 50px;}
// #index_cfp {
//   background-image: url("ic_cfp_black.png");
//   background-position: 9px center;}
// #index_registration {
//   background-image: url("ic_registration_black.png");
//   background-position: 9px center;}
// #index_help {
//   background-image: url("ic_help_black.png");
//   background-position: 8px center;}
// #index_blog {
//   background-image: url("ic_blog_black.png");
//   background-position: 7px center;}
// #index_sponsors {
//   background-image: url("ic_sponsors_black.png");
//   background-position: 9px center;}
// 

.speakers > div {
  min-height: 120px;
  img {
    height: 66px;
  }

  &.keynote-speaker img {
    height:100px;
  }
}

a.social-link {
  opacity: .3;
  &:hover {
    opacity: 1.0;
    text-decoration: none;
  }
}


